.mail_link {
    color: #ed2204;
}

.rounded {
    border-radius: 20px;
}

.some-place {
    height: 80px;
    background-color: #C0C88CFF;
}

.some-place2 {
    height: 80px;
    background-color: #b39883;
}

.copyright {
    font-size: 1.5em;
    border-radius: 15px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    padding: 5px;
}

@media screen and (max-width: 980px) {
    .some-place {
        display: none;
    }
    .copyright {
        font-size: 1.2em;
        padding-top: 10px;
    }

}



.favicon-icon {
    opacity: .58;
}

.favicon-icon:hover {
    opacity: 1;
}
